$mainFont: 'Poppins', sans-serif;
#horizontalLine{
	height: 1px;
	background-color: gray;
	opacity: 0.2;
	margin-bottom: 10px;
}

// Header section
#header{

	>.row{
		// height: 611px;
		background-image: url('../img/banner.jpg');
		background-repeat: no-repeat;
		background-size: cover;
		background-position-y: -100px;
		padding-bottom: 120px;
		>.container{
			>:first-child{
				>h1{
					text-align: center;
					color: white;
					text-transform: uppercase;
					font-family: $mainFont;
					font-weight: bold;
					font-size: 75px;
					margin-top: 180px;
				}
				>p{
					text-align: center;
					font-family: 'Pangolin', cursive;
					color: white;
					text-transform: uppercase;
					margin-top: -15px;
					font-weight: bold;
					letter-spacing: 1px;
				}
			}
			>:nth-child(2){
				text-align: center;
				>.btn-group{
					margin-top: 45px;
					>button{
						height: 60px;
						border: 2px solid white;
						border-radius: 30px;
						background: none;
						color: white;
						text-transform: uppercase;
						font-family: 'Pangolin', cursive;
						padding: 0 22px;
						transition: all 0.3s ease;
					}
					>button:hover{
						background-color: white;
						color: black;
					}
				}
			}
			>:last-child{
				text-align: center;
				margin-top: 45px;
				>.col-md-12{
					>form{
						>input{
							width: 250px;
						    height: 42px;
						    padding-left: 15px;
						    border-radius: 42px;
						    border: 2px solid #324b4e;
						    background: #F9F0DA;
						    outline: none;
						    transition: .3s linear;
						    font-family: 'Pangolin', cursive;
						}
						>input:focus{
							width: 300px;
						}
						>button{
							width: 42px;
						  	height: 42px;
						  	background: none;
						  	border: none;
						}
						>button:before{
							content: "\f002";
  							font-family: FontAwesome;
  							color: white;
						}
					}
				}
			}
		}
	}
}

// Main section
#main{
	// height: 680px;
	margin-top: 70px;
	>.container{
		// height: 80%;
		>.col-md-7{
			>:first-child{
				>h2{
					font-size: 3em;
					text-transform: uppercase;
					font-weight: bold;
					color: #4c4c4c;
					font-family: $mainFont;
					margin-bottom: 0;
				}
				>p{
					font-size: 1.40em;
					margin-top: 15px;
					font-family: 'Pangolin', cursive;
					color: #4c4c4c;
				}
			}
			>:nth-child(2){
				>img{
					margin-bottom: 30px;
					width: 100%;
				}
			}
			>:last-child{
				>p{
					margin-bottom: 1em;
					color: #4c4c4c;
					box-sizing: border-box;
					font-family: 'Pangolin', cursive;
					font-size: 11pt;
				}
			}
		}
		>.col-md-4{
			h3{
				font-family: $mainFont;
				font-size: 1.4em;
				padding-bottom: 2em;
				font-weight: bold;
			}
			.row{
				p{
					letter-spacing: 1px;
					font-size: 8pt;
					// margin-top: 10px;
					margin-bottom: 1em;
					padding-bottom: 1em;
					font-family: 'Pangolin', cursive;
					color: #C5C5C5;
				}
				>.row{
					.col-md-3{
						img{
							display: inline-block;
						}
					}
					
					.col-md-9{
						>p{
							margin-bottom: 1em;
							font-size: 11pt;
							color: #4c4c4c;
							font-family: 'Pangolin', cursive;
							display: inline-block;
							line-height: 1.75;
							letter-spacing: 1px;
						}
					}
					
				}
			}
		}
	}
}

// Gallery section
#gallery{
	// height: 620px;
	>.row{
		background-color: #F2F2F2;
		// height: 100%;
		>.container{
			>.row{
				margin-top: 110px;
				>.col-md-4{
					padding-bottom: 55px;
					h3{
						font-family: $mainFont;
						font-size: 1.4em;
						margin-bottom: 2em;
						font-weight: bold;
					}
					img{
						margin-bottom: 2em;
					}
					p{
						margin-bottom: 1em;
						color: #4c4c4c;
						box-sizing: border-box;
						font-family: 'Pangolin', cursive;
						font-size: 11pt;
					}
					button{
						height: 55px;
						border-radius: 40px;
						background-color: #E95D3C;
						color: white;
						font-family: $mainFont;
						padding: 0.9em 1.5em;
						font-size: 1.1em;
						border: none;
						margin-top: 35px;
						transition: all .3s ease;
					}
					button:hover{
						background-color: darken(#E95D3C, 10%);
					}
				}
			}
		}
	}
}

// Navigation bottom section
#navigationBottom{
	// height: 400px;
	.row{
		// height: 100%;
		background-color: #1D1D1D;

		>.container{
			>.row{
				margin-top: 30px;
				padding-bottom: 50px;
				>.col-md-4{
					h3{
						font-family: $mainFont;
						font-size: 1.4em;
						margin-bottom: 2em;
						font-weight: bold;
						color: white;
					}
					ul{
						list-style: none;
						padding: 0;
						li{
							padding: 0.60em 0;
							a{
								color: #898989;
								font-family: $mainFont;
							}
						}
						li:before{
							content: url(../img/cat-arrow.png);
							margin-right: 5px;
						}
						hr{
							background-color: white;
							height: 0.1px;
							margin: 0;
							opacity: 0.2;
						}
					}
				}
			}
		}
	}
}

// Copyright and Social section
#copyrightAndSocial{
	height: 100px;
	.row{
		height: 100%;
		background-color: #141414;
		.container{
			>:first-child{
				text-align: center;
				margin-top: 20px;
				>:first-child{
					color: #313131;
					font-family: $mainFont;
					font-size: 18px;
				}
				>:last-child{
					color: #4E4E4E;
					font-family: 'Pangolin', cursive;
					font-size: 18px;
					transition: all 0.3s ease;
					cursor: pointer;
				}
				>:last-child:hover{
					color: white;
					letter-spacing: 1px;
				}
			}
			>:last-child{
				text-align: center;
				margin-top: 20px;
				i{
					font-size: 18px;
					margin-right: 10px;
					cursor: pointer;
					transition: all 1s ease;
				}
				i:hover{
					transform: rotateY(360deg);
				}
			}
		}
	}
}